.footer-container {
  height: 40vh;
  background-color: var(--text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: background-color 3s ease-in;
}

.text,
.icon,
.rights {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.text {
  padding-top: 30px;
}

.text h1 {
  font-weight: bolder;
  color: var(--topic-color);
}

.rights {
  text-align: center;
  background-color: var(--topic-color);
}

.rights h4 {
  font-weight: bolder;
}
