.main {
  background-color: var(--main-bg);
  overflow-x: hidden;
  min-height: 90vh;
  display: flex;
  flex-direction: row-reverse;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services h1 {
  color: var(--another-color);
  font-weight: bolder;
  font-size: clamp(3rem, 17vw, 17vh);
  transform: rotateZ(90deg);
  text-align: center;
  margin: 60px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 6%;
}

.col1-row1,
.col1-row2,
.col2-row1,
.col2-row2 {
  background-color: var(--topic-color);
  margin: 20px 0;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.col1-row1:hover,
.col1-row2:hover,
.col2-row1:hover,
.col2-row2:hover {
  transform: scale(1.05);
}

.col1-row1 {
  height: 250px;
}

.col1-row2 {
  height: 150px;
}

.col2-row1 {
  height: 200px;
}

.col2-row2 {
  height: 200px;
}

.col1-row1 p,
.col1-row2 p,
.col2-row1 p,
.col2-row2 p {
  margin: 0;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: clamp(1.5rem, 4vw, 4vh);
  color: var(--text-color);
}

.link {
  color: var(--topic-);
  background-color: var(--text-color);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .services {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services h1 {
    font-size: clamp(3rem, 17vw, 17vh);
    margin-top: 35px;
    transform: rotateZ(0deg);
  }
}
